---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  {% assign authors = post.authors | split: " " %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <div class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
      <div class="post-authors">
      {% for author in authors %}
        <div class="avatar">
          {{ site.authors[author].email | gravatar }}
          <span>
            <a href="{{ site.authors[author].github }}" title="GitHub">
              {{ author }}
            </a>
          </span>
        </div>
      {% endfor %}
      </div>
      <span class="post-tags">
        {% if post.tags.size > 0 %}
          {{ post.tags | array_to_sentence_string | prepend: 'in ' }}
        {% endif %}
      </span>
    </div>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
