// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 48rem;
  margin: 2rem auto;
}

main {
  padding: 2rem;
  background-color: white;

  @media (min-width: 54em) {
    border-radius: 10px;
    box-shadow: 0 4px 2px -2px rgba(black, 0.1);
  }
}

footer {
  width: 200px;
  margin: 2rem auto;
  text-align: center;
  font-size: 90%;

  img {
    margin: 0 auto;
    height: 40px;
  }
}
